[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

scrapy = "==1.4.0"
"beautifulsoup4" = "==4.6.0"
feedparser = "==5.2.1"
typing = "==3.6.2"


[requires]

python_version = "3.6"
